.hide {
  display: none;
}

.marked {
  opacity: 0.5;
}

.card-border {
  padding: 0 4px;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.card-thumbnail {
  padding: 1rem 1rem 0 1rem;
}

.card-text {
  line-height: 1.5;
  color: var(--e-global-color-secondary);
  font-weight: var(--e-global-typography-text-font-weight);
  margin-top: 15px;
  margin-bottom: 15px;
}
